<div class="ui container">
  {{#if user}}
    <div class="ui centered four doubling stackable cards">
      {{#each user}}
        <div class="ui raised card">
          <section class="center aligned content">
            <div class="ui center aligned small image">
              <img src="/images/user.png">
            </div>
            <div class="description">
              <p>{{firstName}} {{lastName}}</p>
              {{email}}
            </div>
          </section>
          <section class="extra center aligned content">
            <button class="circular ui icon teal button item" data-modal="editUser">
              <i class="edit icon"></i>
            </button>
            <a href="deleteUser/{{_id}}">
              <button class="circular ui icon red button">
                <i class="trash icon"></i>
              </button>
            </a>
          </section>
        </div>
      {{/each}}
    </div>
  {{else}}
    <section class="ui center aligned segment">
      There are no users yet :(
    </section>
  {{/if}}
</div>